.SignIn {
    position: relative;
     top: 0px;
   left: 0px;
   width: 100%;
   height: 100vh;
   /* UI Properties */
   background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
   background: #000000 0% 0% no-repeat padding-box;
   opacity: 1;
   }
   
   .form {
     position: relative;
    top:80px;
    background-color: #FFFFFF;
    width:577px;
    height: 70vh;
    left: 700px;
   /* UI Properties */
   
   border-radius: 4px;
   opacity: 1;
   }
   .getStarted {
   position:absolute;
    top: 40px;
    left: 170px;
width: 277px;
height: 67px;
/* UI Properties */
color: var(--unnamed-color-000000);
text-align: left;
font: normal normal 600 48px/72px Poppins;
letter-spacing: 0px;
color: #000000;
text-transform: capitalize;
opacity: 1;
   }
   .imagesection{
    position: relative;
    top: 280px;
left: 40%;
width: 122px;
height: 50px;
/* UI Properties */
background: var(--unnamed-color-e6ebff) 0% 0% no-repeat padding-box;
background: #E6EBFF 0% 0% no-repeat padding-box;
opacity: 1;
   }
   .addimage {
    position: absolute;
    top: 0;
left: 34%;
width: 44px;
height: 40px;

/* UI Properties */
background: transparent url('../images/addPhoto.png') 0% 0% no-repeat padding-box;
opacity: 1;
   }
   .nametxt {
    position: absolute;
    top: 400px;
left: 38%;
width: 164px;
height: 31px;
/* UI Properties */
color: var(--unnamed-color-000000);
text-align: left;
font: normal normal 300 22px/33px Poppins;
letter-spacing: 0px;
color: #000000;
text-transform: lowercase;
opacity: 1;
   }
   .nameInput{
    position: absolute;
    top: 500px;
left: 8%;
width: 487px;
height: 76px;
/* UI Properties */
background: var(--unnamed-color-e6ebff) 0% 0% no-repeat padding-box;
background: #E6EBFF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
font-size: 30px;
   }
   .signIn {
    position: absolute;
    background-color: #5EFC8D;
    top: 650px;
left: 25%;
width: 258px;
height: 66px;
/* UI Properties */
background: var(--unnamed-color-5efc8d) 0% 0% no-repeat padding-box;
background: #5EFC8D 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
   }

   @media only screen and (max-width: 1200px) {
   
    .form {
        position: absolute;
       top:120px;
       background-color: #FFFFFF;
       width:100%;
       height: 70vh;
       left: 0;
       justify-content: center;
      
      /* UI Properties */
      
      border-radius: 4px;
      opacity: 1;
      }
  }