.taskInput {
    position:relative;
    
    width: 487px;
    height: 76px;
    /* UI Properties */
    background: var(--unnamed-color-e6ebff) 0% 0% no-repeat padding-box;
    background: #E6EBFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}
.headerImage {
position: absolute;
top: 2%;
right: 2%;
width: 68px;
height: 68px;
border-radius:50%;
cursor: pointer;
}
.taskAdd {
    position: relative;
    
    width: 108px;
    height: 76px;
    /* UI Properties */
    background: var(--unnamed-color-5efc8d) 0% 0% no-repeat padding-box;
    background: #5EFC8D 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
   .taskInput {
    width: 50%;
    height: 76px;
   }
  }